<p class="lead">Want to say hi, ask a question, or share a great coffee recommendation? Drop me a message below or email me at <a href="mailto:clintmcmahon@pm.me?subject=Hello">clintmcmahon AT pm.me</a>.</p>
    <p class="text-muted"><em>Note: I'm not currently taking on new consulting work.</em></p>
    <hr>
    <!--kg-card-begin: html-->
    <script data-letterbirduser="clintmcmahon" src="https://letterbird.co/embed/v1.js" data-width="1000px"></script>

    <!--kg-card-end: html-->
    <hr>
    <!--kg-card-begin: html-->
    <div style="display: flex;">
        <div style="flex: 1; padding-right: 10px;">
            <strong>Contact Info</strong> <br />
            Email: clintmcmahon@pm.me<br />
            Phone: (612) 314-5384<br />
        </div>
        <div style="flex: 1; padding-left: 10px;">
            <strong>Social Media Links</strong><br />
            <a href="https://www.instagram.com/cwmcmhn/">Instagram</a><br />
            <a href="https://www.linkedin.com/in/clintmcmahon/">LinkedIn</a><br />
            <a href="https://github.com/clintmcmahon">GitHub</a><br />
            <a href="https://www.reddit.com/user/mplsdev">Reddit</a><br />
        </div>
    </div>