<p class="lead">If you are looking for help building your app, website, or need someone to talk through your technology strategy,
        send me a message using the form below or email me at <a
            href="mailto:clintmcmahon@pm.me?subject=Let's%20build%20something">clintmcmahon AT pm.me</a>. I look
        forward to hearing from you and building something great together.</p>
    <hr>
    <!--kg-card-begin: html-->
    <script data-letterbirduser="clintmcmahon" src="https://letterbird.co/embed/v1.js" data-width="1000px"></script>

    <!--kg-card-end: html-->
    <hr>
    <!--kg-card-begin: html-->
    <div style="display: flex;">
        <div style="flex: 1; padding-right: 10px;">
            <strong>Contact Info</strong> <br />
            Email: clintmcmahon@pm.me<br />
            Phone: (612) 314-5384<br />
        </div>
        <div style="flex: 1; padding-left: 10px;">
            <strong>Social Media Links</strong><br />
            <a href="https://www.instagram.com/cwmcmhn/">Instagram</a><br />
            <a href="https://www.linkedin.com/in/clintmcmahon/">LinkedIn</a><br />
            <a href="https://github.com/clintmcmahon">GitHub</a><br />
            <a href="https://www.reddit.com/user/mplsdev">Reddit</a><br />
        </div>
    </div>