@{
    ViewData["Title"] = "Contact - Clint McMahon";
}


<section class="contact py-5">
  <div class="container" style="max-width:800px">
    <h2 class="text-center mb-4">Contact Me</h2>
    <div class="row g-4">
    <div class="col">
    @Html.Partial("_Contact")
</div>
    </div>
  </div>
</section>
