@{
    ViewData["Title"] = "Contact | Clint McMahon";
}


<section class="contact py-5">
  <div class="container" style="max-width:800px">
         <h1 class="display-4 fw-bold text-center mb-4">Contact Me</h1>

    <div class="row g-4">
    <div class="col">
    @Html.Partial("_Contact")
</div>
    </div>
  </div>
</section>
