<!-- Representative h-card for IndieWeb/microformats. Referenced from both
     the main site layout and the photoblog's standalone (Layout = null) views. -->
<div class="h-card" hidden>
    <a class="p-name u-url" rel="me" href="https://clintmcmahon.com/">Clint McMahon</a>
    <img class="u-photo" src="/images/icon/me.jpg" alt="Clint McMahon" />
    <a class="u-url" rel="me" href="https://github.com/clintmcmahon">GitHub</a>
    <a class="u-url" rel="me" href="https://indieweb.social/@@clint">Mastodon</a>
</div>
