@model Website.Models.WeatherSnapshot

<div class="weather-widget" title="@Model.Description in Minneapolis">
    <span class="weather-icon" aria-hidden="true">@Model.Icon</span>
    <span class="weather-temp">@Model.TempF&deg;F</span>
    <span class="weather-loc mono">MSP</span>
</div>
