@{
   
    ViewData["Title"] = "Clint McMahon | Freelance Web Developer & Tech Consultant in Minneapolis, Minnesota";
    ViewData["Description"] = "Experienced freelance web developer and tech consultant in Minneapolis, Minnesota. Specializing in web development, Shopify, C# .NET solutions and modern software architectures.";
}
 @model IEnumerable<Post>

<div class="p-5 mb-4 bg-body-tertiary rounded-3 top">
    <div class="container-fluid py-5">
        <div><strong><small>HI, I'M</small></strong></div>
        <h1 class="display-5 fw-bold">Clint McMahon</h1>
        <p class="col-12 fs-4">
            I’m a freelance software engineer in Minneapolis, MN. I run <strong><a href="https://parkasoftware.com">Parka Software</a></strong>, a boutique software consulting company that specializes in healthcare and legal technology. I like to build things in C#, React, Angular, Umbraco and React Native.
        </p>
        <a class="btn btn-primary btn-lg" href="/contact" type="button">Get In Touch</a>
    </div>
</div>
<div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2>Projects</h2>
          <p>A variety of my side projects, both active and retired. These include apps like Today’s Record High, a data visualization tool for record high temperatures, and MPLS Coffee, a mobile app designed to help users discover quality coffee shops.  </p>
          <a class="btn btn-outline-light" type="button" href="/projects">See all projects</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
          <h2>Work</h2>
          <p>An overview of my professional projects and collaborations. From developing custom web applications for the healthcare and legal sectors to building data visualization tools and mobile apps, my work focuses on creating impactful, user-centered solutions.</p>
          <a class="btn btn-outline-secondary" type="button" href="/portfolio">View work portfolio</a>
        </div>
      </div>
    </div>
<div class="home">
<hr class="my-5"/>

<section class="py-3">
    <div class="container blog">
        <h2 class="text-center mb-5">Writing</h2>
        <div class="row">
           <div class="col-12">

                @foreach (var post in Model)
                {
                    <div>
                        <h3><a href="@Url.Action("Details", "Blog", new { slug = post.Slug })">@post.Title</a>
                        </h3>
                        <p>@post.Description</p>
                        <small>@post.Date.ToString("MMMM dd, yyyy")</small>
                        <hr />
                    </div>
                }
            </div>
        </div>
    </div>
</section>

</div>
