@{
   
    ViewData["Title"] = "Clint McMahon - Freelance C# .Net web & mobile app consultant in Minneapolis, MN";
    ViewData["Description"] = "Software engineer & consultant specializing in web and mobile app development for healthcare, legal, and government sectors. Delivering secure, scalable solutions";
}
 @model IEnumerable<Post>

<section class="hero-section pt-0">
    <p class="intro-text">Hi, my name is</p>
    <h1 class="main-heading">Clint McMahon</h1>
    <h2 class="sub-heading">I make things for the Internet.</h2>
    <p class="description mb-4">
        I’m a software engineer building web and mobile apps with in C#, .NET and React.
        Currently, I run <a href="https://parkasoftware.com" target="_blank">Parka Software</a>,
        a software consulting company delivering efficient, client-driven solutions for
        government, legal and healthcare organizations.
    </p>
    <!--a href="/portfolio" class="cta-button">Check out my portfolio!</a-->
</section>

<section id="about">
    <div class="container">
        <h2 class="numbered-heading">About Me</h2>
        <div class="row align-items-start">
            <div class="col">
                <p>Hello! I'm Clint, and I like making things that empower people. I live in Minneapolis, Minnesota,
                    with my wife, our son, and our dog. My journey in tech began in 9th grade, building websites on AOL.
                    By 19, I was already in my first development role. Along the way, I also started and sold a t-shirt
                    business.</p>

                <p>Over the years, I’ve had the privilege of working to create
                    <a href="https://preview.srtr.org/" target="_blank" rel="noopener noreferrer">an organ transplant
                        center search</a>,
                    <a href="https://www.srtr.org/transplant-centers/interactive-report?center=NYUC&amp;type=TX1&amp;organ=ki&amp;ref=clintmcmahon.com"
                        target="_blank" rel="noopener noreferrer">data visualizations</a>,
                    <a href="https://srtr.org/tools/donation-and-transplantation-analytics/?ref=clintmcmahon.com"
                        target="_blank" rel="noopener noreferrer">analytics tools</a>, and
                    <a href="https://www.srtr.org/reports/opo-specific-reports/interactive-report?ref=clintmcmahon.com"
                        target="_blank" rel="noopener noreferrer">interactive reports</a>.
                    My main focus these days is architecting and building valuable products and digital experiences at
                    <a href="https://parkasoftware.com/" target="_blank" rel="noopener noreferrer">Parka Software</a>
                    for a variety of clients.
                </p>

                <p>I also recently
                    <a href="https://mplscoffee.com" target="_blank" rel="noopener noreferrer">launched an app</a> that
                    helps people find the best coffee shops in Minneapolis &amp; St. Paul.
                </p>

                <p>Here are a few technologies I’ve been working with recently:</p>

                <ul class="skills-list">
                    <li>C#</li>
                    <li>ASP.Net</li>
                    <li>React</li>
                    <li>React Native</li>
                    <li>Umbraco</li>
                    <li>Azure</li>
                    <li>SQL Server</li>
                    <li>MySQL</li>
                </ul>
            </div>
            <div class="col-md-4 d-none d-md-block">
                <div class="profile-pic-wrapper">
                    <img src="/images/me.jpg" alt="Clint McMahon" class="img-fluid profile-pic">
                </div>
            </div>

        </div>
    </div>
</section>
<section id="latest">
    <div class="container">
        <h2 class="numbered-heading">Latest Blog Posts</h2>
        <div class="row align-items-start">
           <div class="col">
               

                @foreach (var post in Model)
                {
                    <div class="post-summary numbered">
                        <h2 class="blog-heading"><a href="@Url.Action("Details", "Blog", new { slug = post.Slug })">@post.Title</a>
                        </h2>
                        <p>@post.Description</p>
                        <small>@post.Date.ToString("MMMM dd, yyyy")</small>
                        <hr />
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<section id="jobs" class="d-none">
    <div class="container">
        <h2 class="numbered-heading">Where I’ve Worked</h2>
        <div class="row">
            <!-- Tabs for job titles -->
            <div class="col-md-3">
                <div class="nav flex-column nav-pills" id="job-tabs" role="tablist" aria-orientation="vertical">
                    <button class="nav-link active" id="tab-parka" data-bs-toggle="pill" data-bs-target="#panel-parka"
                        type="button" role="tab" aria-controls="panel-parka" aria-selected="true">Parka
                        Software</button>
                    <button class="nav-link" id="tab-cdrg" data-bs-toggle="pill" data-bs-target="#panel-cdrg"
                        type="button" role="tab" aria-controls="panel-cdrg" aria-selected="false">Hennepin
                        Healthcare</button>
                    <button class="nav-link" id="tab-robins" data-bs-toggle="pill" data-bs-target="#panel-robins"
                        type="button" role="tab" aria-controls="panel-robins" aria-selected="false">Robins
                        Kaplan</button>
                    <button class="nav-link" id="tab-wolters" data-bs-toggle="pill" data-bs-target="#panel-wolters"
                        type="button" role="tab" aria-controls="panel-wolters" aria-selected="false">Wolters
                        Kluwer</button>
                    <button class="nav-link" id="tab-thomson" data-bs-toggle="pill" data-bs-target="#panel-thomson"
                        type="button" role="tab" aria-controls="panel-thomson" aria-selected="false">Thomson
                        Reuters</button>
                </div>
            </div>

            <!-- Job Details Panels -->
            <div class="col-md-9">
                <div class="tab-content" id="job-content">
                    <!-- Parka Software Panel -->
                    <div class="tab-pane fade show active" id="panel-parka" role="tabpanel" aria-labelledby="tab-parka">
                        <h3>Founder / Principal Consultant / Lead Engineer @@ <a href="https://www.parkasoftware.com/"
                                target="_blank" rel="noopener noreferrer">Parka Software</a></h3>
                        <p class="range">January 2015 - Present</p>
                        <ul>
                            <li>Address a wide range of technical and business challenges for clients across industries.
                            </li>
                            <li>Directing the strategic design and development of innovative web applications.</li>
                            <li>Leading consultations with stakeholders to align technology implementations with
                                business strategies.</li>
                            <li>Transforming organizational data handling and visualization needs into robust solutions.
                            </li>
                            <li>Clients include: SRTR, NIH, State of Minnesota</li>
                        </ul>
                    </div>

                    <!-- CDRG Panel -->
                    <div class="tab-pane fade" id="panel-cdrg" role="tabpanel" aria-labelledby="tab-cdrg">
                        <h3>Lead Software Engineer / Consultant @@ <a href="https://www.cdrg.org" target="_blank"
                                rel="noopener noreferrer">CDRG</a></h3>
                        <p class="range">January 2017 - September 2024</p>
                        <ul>
                            <li>Architected and maintained web applications and systems for healthcare providers.</li>
                            <li>Developed tools for organ transplantation data visualization in the United States.</li>
                            <li>Enabled searchable and comparable organ transplant center data for potential recipients.
                            </li>
                        </ul>
                    </div>

                    <!-- Robins Kaplan Panel -->
                    <div class="tab-pane fade" id="panel-robins" role="tabpanel" aria-labelledby="tab-robins">
                        <h3>Senior Software Engineer @@ <a href="https://robinskaplan.com/" target="_blank"
                                rel="noopener noreferrer">Robins Kaplan</a></h3>
                        <p class="range">December 2013 - December 2014</p>
                        <ul>
                            <li>Developed C# MVC application for document search capabilities for attorneys.</li>
                            <li>Mentored developers in best practices and new technologies.</li>
                        </ul>
                    </div>

                    <!-- Wolters Kluwer Panel -->
                    <div class="tab-pane fade" id="panel-wolters" role="tabpanel" aria-labelledby="tab-wolters">
                        <h3>Senior Software Engineer @@ <a href="https://wolterskluwer.com/" target="_blank"
                                rel="noopener noreferrer">Wolters Kluwer</a></h3>
                        <p class="range">February 2011 - November 2013</p>
                        <ul>
                            <li>Developed a content repository system for managing organizational data.</li>
                            <li>Tech lead on SharePoint multi-language platform development.</li>
                        </ul>
                    </div>

                    <!-- Thomson Reuters Panel -->
                    <div class="tab-pane fade" id="panel-thomson" role="tabpanel" aria-labelledby="tab-thomson">
                        <h3>Software Engineer @@ <a href="https://thomsonreuters.com/" target="_blank"
                                rel="noopener noreferrer">Thomson Reuters</a></h3>
                        <p class="range">December 2006 - February 2011</p>
                        <ul>
                            <li>Led a team to develop and manage complex ASP.NET applications and e-commerce sites.</li>
                            <li>Consulted with clients to implement custom solutions using ASP.NET, C#, and SharePoint.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="projects">
    <div class="container">
        <h2 class="numbered-heading">Some Things I’ve Built</h2>

        <!-- Project 1 -->
        <div class="row featured-project">
            <!-- Project Image -->
            <div class="col-md-6 project-image-wrapper">
                <a href="https://preview.srtr.org/" target="_blank" rel="noopener noreferrer">
                    <img src="/images/pfwebsite.png" alt="SRTR Patient-Friendly Website"
                        class="img-fluid project-image" />
                </a>
            </div>
            <!-- Project Content -->
            <div class="col-md-6 project-content">
                <p class="project-overline">Featured Project</p>
                <h3 class="project-title">
                    <a href="https://preview.srtr.org/" target="_blank" rel="noopener noreferrer">SRTR Patient-Friendly
                        Website</a>
                </h3>
                <div class="project-description">
                    <p>Working alongside the Scientific Registry of Transplant Recipients, developed a platform that
                        empowers patients with clear, accessible educational resources. Featuring interactive tools like
                        a transplant journey map and informative videos, this app enhances patient engagement and
                        supports informed decision-making throughout their healthcare journey.</p>
                    <p>The preview of this website not only introduces a more intuitive user interface but also sets the
                        stage for future enhancements to professional content on srtr.org, reinforcing SRTR’s commitment
                        to being a trusted, patient-centric resource in the transplant community.</p>
                </div>
                <ul class="project-tech-list">
                    <li>C#</li>
                    <li>.Net</li>
                    <li>Umbraco</li>
                    <li>SQL Server</li>
                    <li>JavaScript</li>
                </ul>
                <div class="project-links">
                    <a href="https://preview.srtr.org/" aria-label="External Link" class="external" target="_blank"
                        rel="noopener noreferrer">
                        <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-external-link">
                            <title>External Link</title>
                            <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                            <polyline points="15 3 21 3 21 9"></polyline>
                            <line x1="10" y1="14" x2="21" y2="3"></line>
                        </svg>
                    </a>
                </div>
            </div>
        </div>

        <!-- Project 2 -->
        <div class="row featured-project">
            <!-- Project Content -->
            <div class="col-md-6 project-content">
                <p class="project-overline">Featured Project</p>
                <h3 class="project-title">
                    <a href="https://www.srtr.org/transplant-centers/interactive-report?center=NYUC&type=TX1&organ=ki"
                        target="_blank" rel="noopener noreferrer">SRTR Interactive
                        Reports</a>
                </h3>
                <div class="project-description">
                    <p>Architected and developed Transplant Centers Interactive Report website that provides
                        valuable data on a transplant program’s waiting list, organ offer acceptance rates, transplants
                        performed, and patient outcomes following transplant.
                    </p>
                    <p>Utilizing interactive graphs and charts to present the data, allowing users to explore the
                        trends and patterns in a user-friendly and intuitive way. By leveraging the power of R datasets,
                        we were able to create sophisticated visualizations that effectively communicate complex
                        information to a wide range of audiences – not to mention speed page load times.</p>
                </div>
                <ul class="project-tech-list">
                    <li>C#</li>
                    <li>.Net</li>
                    <li>React</li>
                    <li>High Charts</li>
                    <li>SQL Server</li>
                    <li>JavaScript</li>
                </ul>
                <div class="project-links">
                    <a href="https://www.srtr.org/transplant-centers/interactive-report?center=NYUC&type=TX1&organ=ki/"
                        aria-label="External Link" class="external" target="_blank" rel="noopener noreferrer">
                        <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-external-link">
                            <title>External Link</title>
                            <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                            <polyline points="15 3 21 3 21 9"></polyline>
                            <line x1="10" y1="14" x2="21" y2="3"></line>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="col-md-6 project-image-wrapper">
                <a href="https://www.srtr.org/transplant-centers/interactive-report?center=NYUC&type=TX1&organ=ki"
                    target="_blank" rel="noopener noreferrer">
                    <img src="/images/transplantcentersearch.png" alt="SRTR Interactive Reports"
                        class="img-fluid project-image" />
                </a>
            </div>
        </div>

        <!-- Project 3 -->
        <div class="row featured-project">
            <!-- Project Image -->
            <div class="col-md-6 project-image-wrapper">
                <a href="https://www.srtr.org/reports/opo-specific-reports/interactive-report" target="_blank"
                    rel="noopener noreferrer">
                    <img src="/images/oporeports.png" alt="Organ Procurement Report" class="img-fluid project-image" />
                </a>
            </div>
            <!-- Project Content -->
            <div class="col-md-6 project-content">
                <p class="project-overline">Featured Project</p>
                <h3 class="project-title">
                    <a href="https://www.srtr.org/reports/opo-specific-reports/interactive-report" target="_blank"
                        rel="noopener noreferrer">Organ Procurement
                        Report</a>
                </h3>
                <div class="project-description">
                    <p>I collaborated with biostatisticians, doctors, and researchers at the Scientific Registry of
                        Transplant Recipients to develop interactive data visualization reports on organ procurement
                        organization (OPO) performance. </p>
                    <p>These reports transform complex data into accessible insights,
                        allowing users to explore key metrics, compare OPOs, and understand trends in organ procurement
                        practices. By integrating SRTR’s research and expertise, the project supports transparency and
                        drives improvements in the field of organ donation and transplantation.</p>
                </div>
                <ul class="project-tech-list">
                    <li>C#</li>
                    <li>.Net</li>
                    <li>React</li>
                    <li>High Charts</li>
                    <li>SQL Server</li>
                    <li>JavaScript</li>
                </ul>
                <div class="project-links">
                    <a href="https://www.srtr.org/reports/opo-specific-reports/interactive-report"
                        aria-label="External Link" class="external" target="_blank" rel="noopener noreferrer">
                        <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-external-link">
                            <title>External Link</title>
                            <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                            <polyline points="15 3 21 3 21 9"></polyline>
                            <line x1="10" y1="14" x2="21" y2="3"></line>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
