@{
    ViewData["Title"] = "Feeds";
}

<h1>My Blogroll Feeds</h1>
<p>This page lists the websites I follow via RSS feeds. These are some of my favorite blogs and sources for inspiration, learning, and community.</p>

<ul class="feeds-list">
    <li><a href="https://adactio.com/journal/" target="_blank" rel="noopener noreferrer">Adactio: Journal</a><br><small>RSS: <a href="http://adactio.com/journal/rss" target="_blank" rel="noopener noreferrer">http://adactio.com/journal/rss</a></small></li>
    <li><a href="https://alexanderell.is/" target="_blank" rel="noopener noreferrer">Caffeinspiration</a><br><small>RSS: <a href="https://alexanderell.is/index.xml" target="_blank" rel="noopener noreferrer">https://alexanderell.is/index.xml</a></small></li>
    <li><a href="https://alicebartlett.co.uk/" target="_blank" rel="noopener noreferrer">The website of Alice Bartlett</a><br><small>RSS: <a href="http://alicebartlett.co.uk/feed.xml" target="_blank" rel="noopener noreferrer">http://alicebartlett.co.uk/feed.xml</a></small></li>
    <li><a href="https://angryweasel.com/blog/" target="_blank" rel="noopener noreferrer">Tooth of the Weasel</a><br><small>RSS: <a href="https://angryweasel.com/blog/feed/" target="_blank" rel="noopener noreferrer">https://angryweasel.com/blog/feed/</a></small></li>
    <li><a href="https://bacardi55.io/" target="_blank" rel="noopener noreferrer">Bacardi55's Web Cave</a><br><small>RSS: <a href="https://bacardi55.io/index.xml" target="_blank" rel="noopener noreferrer">https://bacardi55.io/index.xml</a></small></li>
    <li><a href="https://baty.net/" target="_blank" rel="noopener noreferrer">Baty.net</a><br><small>RSS: <a href="http://baty.net/rss.xml" target="_blank" rel="noopener noreferrer">http://baty.net/rss.xml</a></small></li>
    <li><a href="https://benmccormick.org/" target="_blank" rel="noopener noreferrer">Herding Lions</a><br><small>RSS: <a href="https://benmccormick.org/rss/" target="_blank" rel="noopener noreferrer">https://benmccormick.org/rss/</a></small></li>
    <li><a href="https://birming.com/" target="_blank" rel="noopener noreferrer">Robert Birming</a><br><small>RSS: <a href="https://birming.com/feed/" target="_blank" rel="noopener noreferrer">https://birming.com/feed/</a></small></li>
    <li><a href="https://blog.ignaciobrasca.com/" target="_blank" rel="noopener noreferrer">Happiness Machines</a><br><small>RSS: <a href="https://blog.ignaciobrasca.com/feed.xml" target="_blank" rel="noopener noreferrer">https://blog.ignaciobrasca.com/feed.xml</a></small></li>
    <li><a href="https://blog.isquaredsoftware.com/index.xml" target="_blank" rel="noopener noreferrer">Mark's Dev Blog</a><br><small>RSS: <a href="https://blog.isquaredsoftware.com/index.xml" target="_blank" rel="noopener noreferrer">https://blog.isquaredsoftware.com/index.xml</a></small></li>
    <li><a href="https://blog.jim-nielsen.com/" target="_blank" rel="noopener noreferrer">Jim Nielsen’s Blog</a><br><small>RSS: <a href="https://blog.jim-nielsen.com/feed.xml" target="_blank" rel="noopener noreferrer">https://blog.jim-nielsen.com/feed.xml</a></small></li>
    <li><a href="https://blog.numericcitizen.me/feeds/" target="_blank" rel="noopener noreferrer">Numeric Citizen</a><br><small>RSS: <a href="https://blog.numericcitizen.me/feed.xml" target="_blank" rel="noopener noreferrer">https://blog.numericcitizen.me/feed.xml</a></small></li>
    <li><a href="https://blog.stephaniestimac.com/" target="_blank" rel="noopener noreferrer">The Web Witch's Blog</a><br><small>RSS: <a href="https://blog.stephaniestimac.com/feed/feed.xml" target="_blank" rel="noopener noreferrer">https://blog.stephaniestimac.com/feed/feed.xml</a></small></li>
    <li><a href="https://bradfrost.com/" target="_blank" rel="noopener noreferrer">Brad Frost</a><br><small>RSS: <a href="http://feeds.feedburner.com/brad-frosts-blog" target="_blank" rel="noopener noreferrer">http://feeds.feedburner.com/brad-frosts-blog</a></small></li>
    <li><a href="https://brainbaking.com/" target="_blank" rel="noopener noreferrer">Brain Baking</a><br><small>RSS: <a href="https://brainbaking.com/index.xml" target="_blank" rel="noopener noreferrer">https://brainbaking.com/index.xml</a></small></li>
    <li><a href="https://brr.fyi/" target="_blank" rel="noopener noreferrer">brr</a><br><small>RSS: <a href="https://brr.fyi/feed.xml" target="_blank" rel="noopener noreferrer">https://brr.fyi/feed.xml</a></small></li>
    <li><a href="https://bt.ht/index.rss" target="_blank" rel="noopener noreferrer">bt RSS Feed</a><br><small>RSS: <a href="https://bt.ht/index.rss" target="_blank" rel="noopener noreferrer">https://bt.ht/index.rss</a></small></li>
    <li><a href="https://cassidoo.co/" target="_blank" rel="noopener noreferrer">Cassidy Williams</a><br><small>RSS: <a href="https://blog.cassidoo.co/rss.xml" target="_blank" rel="noopener noreferrer">https://blog.cassidoo.co/rss.xml</a></small></li>
    <li><a href="https://cannonalexander.writeas.com/" target="_blank" rel="noopener noreferrer">cannonalexander</a><br><small>RSS: <a href="https://cannonalexander.writeas.com/feed/" target="_blank" rel="noopener noreferrer">https://cannonalexander.writeas.com/feed/</a></small></li>
    <li><a href="https://chriscoyier.net/" target="_blank" rel="noopener noreferrer">Chris Coyier</a><br><small>RSS: <a href="https://chriscoyier.net/feed" target="_blank" rel="noopener noreferrer">https://chriscoyier.net/feed</a></small></li>
    <li><a href="https://chrishannah.me/">Chris Hannah</a><br><small>RSS: <a href="http://blog.chrishannah.me/feed/">http://blog.chrishannah.me/feed/</a></small></li>
        <li><a href="https://chrishannah.me/" target="_blank" rel="noopener noreferrer">Chris Hannah</a><br><small>RSS: <a href="http://blog.chrishannah.me/feed/" target="_blank" rel="noopener noreferrer">http://blog.chrishannah.me/feed/</a></small></li>
    <li><a href="https://ciraltos.com/">Ciraltos</a><br><small>RSS: <a href="https://ciraltos.com/feed/">https://ciraltos.com/feed/</a></small></li>
        <li><a href="https://ciraltos.com/" target="_blank" rel="noopener noreferrer">Ciraltos</a><br><small>RSS: <a href="https://ciraltos.com/feed/" target="_blank" rel="noopener noreferrer">https://ciraltos.com/feed/</a></small></li>
    <li><a href="https://coleb.blog">Cole's Blog</a><br><small>RSS: <a href="https://coleb.blog/posts_feed">https://coleb.blog/posts_feed</a></small></li>
        <li><a href="https://coleb.blog" target="_blank" rel="noopener noreferrer">Cole's Blog</a><br><small>RSS: <a href="https://coleb.blog/posts_feed" target="_blank" rel="noopener noreferrer">https://coleb.blog/posts_feed</a></small></li>
    <li><a href="https://consultantsmind.com/">Consultant's Mind</a><br><small>RSS: <a href="http://consultantsmind.com/feed/">http://consultantsmind.com/feed/</a></small></li>
        <li><a href="https://consultantsmind.com/" target="_blank" rel="noopener noreferrer">Consultant's Mind</a><br><small>RSS: <a href="http://consultantsmind.com/feed/" target="_blank" rel="noopener noreferrer">http://consultantsmind.com/feed/</a></small></li>
    <li><a href="https://cybersect.substack.com/">Cybersect</a><br><small>RSS: <a href="https://cybersect.substack.com/feed">https://cybersect.substack.com/feed</a></small></li>
        <li><a href="https://cybersect.substack.com/" target="_blank" rel="noopener noreferrer">Cybersect</a><br><small>RSS: <a href="https://cybersect.substack.com/feed" target="_blank" rel="noopener noreferrer">https://cybersect.substack.com/feed</a></small></li>
    <li><a href="https://damienbod.com/">Software Engineering</a><br><small>RSS: <a href="http://damienbod.wordpress.com/feed/">http://damienbod.wordpress.com/feed/</a></small></li>
        <li><a href="https://damienbod.com/" target="_blank" rel="noopener noreferrer">Software Engineering</a><br><small>RSS: <a href="http://damienbod.wordpress.com/feed/" target="_blank" rel="noopener noreferrer">http://damienbod.wordpress.com/feed/</a></small></li>
    <li><a href="https://daverupert.com/">daverupert.com</a><br><small>RSS: <a href="http://daverupert.com/atom.xml">http://daverupert.com/atom.xml</a></small></li>
        <li><a href="https://daverupert.com/" target="_blank" rel="noopener noreferrer">daverupert.com</a><br><small>RSS: <a href="http://daverupert.com/atom.xml" target="_blank" rel="noopener noreferrer">http://daverupert.com/atom.xml</a></small></li>
    <li><a href="https://desunit.com/blog/feed/">&#64;desunit (Sergey Bogdanov)</a><br><small>RSS: <a href="https://desunit.com/blog/feed/">https://desunit.com/blog/feed/</a></small></li>
        <li><a href="https://desunit.com/blog/feed/" target="_blank" rel="noopener noreferrer">&#64;desunit (Sergey Bogdanov)</a><br><small>RSS: <a href="https://desunit.com/blog/feed/" target="_blank" rel="noopener noreferrer">https://desunit.com/blog/feed/</a></small></li>
    <li><a href="https://digitalnomadder.micro.blog/">The Digital Nomad</a><br><small>RSS: <a href="https://digitalnomadder.micro.blog/feed.xml">https://digitalnomadder.micro.blog/feed.xml</a></small></li>
        <li><a href="https://digitalnomadder.micro.blog/" target="_blank" rel="noopener noreferrer">The Digital Nomad</a><br><small>RSS: <a href="https://digitalnomadder.micro.blog/feed.xml" target="_blank" rel="noopener noreferrer">https://digitalnomadder.micro.blog/feed.xml</a></small></li>
    <li><a href="https://dotdev.co">dotdev</a><br><small>RSS: <a href="http://feed.dotdev.co/">http://feed.dotdev.co/</a></small></li>
        <li><a href="https://dotdev.co" target="_blank" rel="noopener noreferrer">dotdev</a><br><small>RSS: <a href="http://feed.dotdev.co/" target="_blank" rel="noopener noreferrer">http://feed.dotdev.co/</a></small></li>
    <li><a href="https://dostoynikov.bearblog.dev/">ᓚᘏᗢdostoynikov</a><br><small>RSS: <a href="https://dostoynikov.bearblog.dev/feed/?type=rss">https://dostoynikov.bearblog.dev/feed/?type=rss</a></small></li>
        <li><a href="https://dostoynikov.bearblog.dev/" target="_blank" rel="noopener noreferrer">ᓚᘏᗢdostoynikov</a><br><small>RSS: <a href="https://dostoynikov.bearblog.dev/feed/?type=rss" target="_blank" rel="noopener noreferrer">https://dostoynikov.bearblog.dev/feed/?type=rss</a></small></li>
    <li><a href="https://email-is-good.com/">Email Is Good</a><br><small>RSS: <a href="https://email-is-good.com/feed">https://email-is-good.com/feed</a></small></li>
        <li><a href="https://email-is-good.com/" target="_blank" rel="noopener noreferrer">Email Is Good</a><br><small>RSS: <a href="https://email-is-good.com/feed" target="_blank" rel="noopener noreferrer">https://email-is-good.com/feed</a></small></li>
    <li><a href="https://enocc.com/">Pablo Enoc</a><br><small>RSS: <a href="https://enocc.com/feed.xml">https://enocc.com/feed.xml</a></small></li>
    <li><a href="https://ericwbailey.website/">Eric Bailey</a><br><small>RSS: <a href="https://ericwbailey.website/feed/feed.xml">https://ericwbailey.website/feed/feed.xml</a></small></li>
    <li><a href="https://escapingflatland.substack.com/">Escaping Flatland</a><br><small>RSS: <a href="https://escapingflatland.substack.com/feed">https://escapingflatland.substack.com/feed</a></small></li>
    <li><a href="https://fabianholzer.online/">Fabian's public notepad</a><br><small>RSS: <a href="https://fabianholzer.online/feed.xml">https://fabianholzer.online/feed.xml</a></small></li>
    <li><a href="https://feed.dotdev.co/">dotdev</a><br><small>RSS: <a href="http://feed.dotdev.co/">http://feed.dotdev.co/</a></small></li>
    <li><a href="https://feeds.feedburner.com/BarbarianMeetsCoding">Barbarian Meets Coding</a><br><small>RSS: <a href="http://feeds.feedburner.com/BarbarianMeetsCoding">http://feeds.feedburner.com/BarbarianMeetsCoding</a></small></li>
    <li><a href="https://feeds.feedburner.com/Bludice">David Walsh Blog</a><br><small>RSS: <a href="http://feeds.feedburner.com/Bludice">http://feeds.feedburner.com/Bludice</a></small></li>
    <li><a href="https://feeds.feedburner.com/brad-frosts-blog">Brad Frost</a><br><small>RSS: <a href="http://feeds.feedburner.com/brad-frosts-blog">http://feeds.feedburner.com/brad-frosts-blog</a></small></li>
    <li><a href="https://feeds.feedburner.com/PhilGyford-Everything">Phil Gyford’s website: Everything</a><br><small>RSS: <a href="http://feeds.feedburner.com/PhilGyford-Everything">http://feeds.feedburner.com/PhilGyford-Everything</a></small></li>
    <li><a href="https://feeds.feedburner.com/remysharp">remy sharp's b:log</a><br><small>RSS: <a href="http://feeds.feedburner.com/remysharp">http://feeds.feedburner.com/remysharp</a></small></li>
    <li><a href="https://feeds.feedburner.com/ScottHanselman">Scott Hanselman's Blog</a><br><small>RSS: <a href="http://feeds.feedburner.com/ScottHanselman">http://feeds.feedburner.com/ScottHanselman</a></small></li>
    <li><a href="https://feeds.feedburner.com/tynan">Tynan | Life Outside the Box</a><br><small>RSS: <a href="http://feeds.feedburner.com/tynan">http://feeds.feedburner.com/tynan</a></small></li>
    <li><a href="https://gilest.org">gilest.org</a><br><small>RSS: <a href="https://gilest.org/feed/index.xml">https://gilest.org/feed/index.xml</a></small></li>
    <li><a href="https://gkeenan.co/avgb/">A Very Good Blog by Keenan</a><br><small>RSS: <a href="https://gkeenan.co/avgb/feed.xml">https://gkeenan.co/avgb/feed.xml</a></small></li>
    <li><a href="https://goshacmd.com">Gosha Spark</a><br><small>RSS: <a href="http://feeds.feedburner.com/GoshaArinich">http://feeds.feedburner.com/GoshaArinich</a></small></li>
    <li><a href="https://hacdias.com/writings/">Writings - Henrique Dias</a><br><small>RSS: <a href="https://hacdias.com/articles/feed.xml">https://hacdias.com/articles/feed.xml</a></small></li>
    <li><a href="https://hassanhabib.com/">Hassan Habib</a><br><small>RSS: <a href="https://hassanhabib.com/feed/">https://hassanhabib.com/feed/</a></small></li>
    <li><a href="https://herbertlui.net/">Herbert Lui</a><br><small>RSS: <a href="https://herbertlui.net/feed/">https://herbertlui.net/feed/</a></small></li>
    <li><a href="https://herman.bearblog.dev/">Herman Martinus</a><br><small>RSS: <a href="https://herman.bearblog.dev/feed/?type=rss">https://herman.bearblog.dev/feed/?type=rss</a></small></li>
    <li><a href="https://highscalability.com/blog/">High Scalability</a><br><small>RSS: <a href="http://feeds.feedburner.com/HighScalability">http://feeds.feedburner.com/HighScalability</a></small></li>
    <li><a href="https://holzer.online/">Fabian's public notepad</a><br><small>RSS: <a href="https://holzer.online/feed.xml">https://holzer.online/feed.xml</a></small></li>
    <li><a href="https://jack-vanlightly.com/">Jack Vanlightly</a><br><small>RSS: <a href="https://jack-vanlightly.com/blog?format=RSS">https://jack-vanlightly.com/blog?format=RSS</a></small></li>
    <li><a href="https://jasoncrawford.org/">Jason Crawford</a><br><small>RSS: <a href="https://jasoncrawford.org/feed.xml">https://jasoncrawford.org/feed.xml</a></small></li>
    <li><a href="https://jlelse.blog">Jan-Lukas Else</a><br><small>RSS: <a href="https://jlelse.blog/index.xml">https://jlelse.blog/index.xml</a></small></li>
    <li><a href="https://jon.bo/">up & to the right</a><br><small>RSS: <a href="https://jon.bo/index.xml">https://jon.bo/index.xml</a></small></li>
    <li><a href="https://jonashietala.se/">Jonas Hietala</a><br><small>RSS: <a href="https://jonashietala.se/feed.xml">https://jonashietala.se/feed.xml</a></small></li>
    <li><a href="https://joshs.bearblog.dev/">people, ideas, machines</a><br><small>RSS: <a href="https://joshs.bearblog.dev/feed/">https://joshs.bearblog.dev/feed/</a></small></li>
    <li><a href="https://joshghent.com/">Developer Musings</a><br><small>RSS: <a href="https://joshghent.com/rss.xml">https://joshghent.com/rss.xml</a></small></li>
    <li><a href="https://kupajo.com/">kupajo</a><br><small>RSS: <a href="https://kupajo.com/feed/">https://kupajo.com/feed/</a></small></li>
    <li><a href="https://lucidity.mataroa.blog/" target="_blank" rel="noopener noreferrer">Ludicity</a><br><small>RSS: <a href="https://lucidity.mataroa.blog/rss/" target="_blank" rel="noopener noreferrer">https://lucidity.mataroa.blog/rss/</a></small></li>
    <li><a href="https://manuelmoreale.com/" target="_blank" rel="noopener noreferrer">Manuel Moreale — Everything Feed</a><br><small>RSS: <a href="https://manuelmoreale.com/feed/rss" target="_blank" rel="noopener noreferrer">https://manuelmoreale.com/feed/rss</a></small></li>
    <li><a href="https://marclittlemore.com/" target="_blank" rel="noopener noreferrer">Marc Littlemore</a><br><small>RSS: <a href="https://marclittlemore.com/feed.xml" target="_blank" rel="noopener noreferrer">https://marclittlemore.com/feed.xml</a></small></li>
    <li><a href="https://mattiacompagnucci.com/" target="_blank" rel="noopener noreferrer">Mattia Compagnucci's Journal</a><br><small>RSS: <a href="https://mattiacompagnucci.com/feed/rss" target="_blank" rel="noopener noreferrer">https://mattiacompagnucci.com/feed/rss</a></small></li>
    <li><a href="https://maxrozen.com/" target="_blank" rel="noopener noreferrer">Max Rozen</a><br><small>RSS: <a href="https://maxrozen.com/rss.xml" target="_blank" rel="noopener noreferrer">https://maxrozen.com/rss.xml</a></small></li>
    <li><a href="https://mertbulan.com/" target="_blank" rel="noopener noreferrer">Mert Bulan</a><br><small>RSS: <a href="https://mertbulan.com/feed.xml" target="_blank" rel="noopener noreferrer">https://mertbulan.com/feed.xml</a></small></li>
    <li><a href="https://minutestomidnight.co.uk/" target="_blank" rel="noopener noreferrer">Minutes to Midnight</a><br><small>RSS: <a href="https://minutestomidnight.co.uk/feed.xml" target="_blank" rel="noopener noreferrer">https://minutestomidnight.co.uk/feed.xml</a></small></li>
    <li><a href="https://mxb.at/feed.xml" target="_blank" rel="noopener noreferrer">Max Böck</a><br><small>RSS: <a href="https://mxb.at/feed.xml" target="_blank" rel="noopener noreferrer">https://mxb.at/feed.xml</a></small></li>
    <li><a href="https://mzansibytes.com/" target="_blank" rel="noopener noreferrer">Mzansi Bytes</a><br><small>RSS: <a href="https://mzansibytes.com/feed/" target="_blank" rel="noopener noreferrer">https://mzansibytes.com/feed/</a></small></li>
    <li><a href="https://nazhamid.com/" target="_blank" rel="noopener noreferrer">Naz Hamid</a><br><small>RSS: <a href="https://nazhamid.com/feed.xml" target="_blank" rel="noopener noreferrer">https://nazhamid.com/feed.xml</a></small></li>
    <li><a href="https://neladunato.com" target="_blank" rel="noopener noreferrer">Nela Dunato Art & Design</a><br><small>RSS: <a href="https://neladunato.com/feed/" target="_blank" rel="noopener noreferrer">https://neladunato.com/feed/</a></small></li>
    <li><a href="https://niqwithq.com" target="_blank" rel="noopener noreferrer">niqwithq</a><br><small>RSS: <a href="https://niqwithq.com/feed.xml" target="_blank" rel="noopener noreferrer">https://niqwithq.com/feed.xml</a></small></li>
    <li><a href="https://notes.jeddacp.com/" target="_blank" rel="noopener noreferrer">Notes by JCProbably</a><br><small>RSS: <a href="https://notes.jeddacp.com/feed/" target="_blank" rel="noopener noreferrer">https://notes.jeddacp.com/feed/</a></small></li>
    <li><a href="https://numericcitizen.me/" target="_blank" rel="noopener noreferrer">Numeric Citizen</a><br><small>RSS: <a href="https://numericcitizen.me/feed.xml" target="_blank" rel="noopener noreferrer">https://numericcitizen.me/feed.xml</a></small></li>
    <li><a href="https://ohhelloana.blog/" target="_blank" rel="noopener noreferrer">Ana Rodrigues</a><br><small>RSS: <a href="https://ohhelloana.blog/feed.xml" target="_blank" rel="noopener noreferrer">https://ohhelloana.blog/feed.xml</a></small></li>
    <li><a href="https://ownyourweb.site" target="_blank" rel="noopener noreferrer">Own Your Web</a><br><small>RSS: <a href="https://buttondown.email/ownyourweb/rss" target="_blank" rel="noopener noreferrer">https://buttondown.email/ownyourweb/rss</a></small></li>
    <li><a href="https://pabloenoc.com/" target="_blank" rel="noopener noreferrer">Pablo Enoc</a><br><small>RSS: <a href="https://pabloenoc.com/feed.xml" target="_blank" rel="noopener noreferrer">https://pabloenoc.com/feed.xml</a></small></li>
    <li><a href="https://petitvisual.jp/blog/" target="_blank" rel="noopener noreferrer">Blog - petitvisual</a><br><small>RSS: <a href="https://petitvisual.jp/blog?format=rss" target="_blank" rel="noopener noreferrer">https://petitvisual.jp/blog?format=rss</a></small></li>
    <li><a href="https://philgyford.com/" target="_blank" rel="noopener noreferrer">Phil Gyford’s website: Everything</a><br><small>RSS: <a href="http://feeds.feedburner.com/PhilGyford-Everything" target="_blank" rel="noopener noreferrer">http://feeds.feedburner.com/PhilGyford-Everything</a></small></li>
    <li><a href="https://pimoore.ca/" target="_blank" rel="noopener noreferrer">Slice of pi</a><br><small>RSS: <a href="https://pimoore.ca/feed.xml" target="_blank" rel="noopener noreferrer">https://pimoore.ca/feed.xml</a></small></li>
    <li><a href="https://piperhaywood.com/" target="_blank" rel="noopener noreferrer">Piper Haywood</a><br><small>RSS: <a href="https://piperhaywood.com/feed/" target="_blank" rel="noopener noreferrer">https://piperhaywood.com/feed/</a></small></li>
    <li><a href="https://podviaznikov.com/" target="_blank" rel="noopener noreferrer">podviaznikov.com</a><br><small>RSS: <a href="https://podviaznikov.com/feed.xml" target="_blank" rel="noopener noreferrer">https://podviaznikov.com/feed.xml</a></small></li>
    <li><a href="https://popagandhi.com/" target="_blank" rel="noopener noreferrer">Popagandhi</a><br><small>RSS: <a href="http://popagandhi.com/feed/" target="_blank" rel="noopener noreferrer">http://popagandhi.com/feed/</a></small></li>
    <li><a href="https://prashants.in/" target="_blank" rel="noopener noreferrer">Prashant Sengar</a><br><small>RSS: <a href="https://prashants.in/feed/" target="_blank" rel="noopener noreferrer">https://prashants.in/feed/</a></small></li>
    <li><a href="https://rachsmith.com/" target="_blank" rel="noopener noreferrer">Rach Smith's digital garden</a><br><small>RSS: <a href="https://rachsmith.com/feed.xml" target="_blank" rel="noopener noreferrer">https://rachsmith.com/feed.xml</a></small></li>
    <li><a href="https://rknight.me/" target="_blank" rel="noopener noreferrer">Robb Knight • Posts • RSS Feed</a><br><small>RSS: <a href="https://rknight.me/subscribe/posts/rss.xml" target="_blank" rel="noopener noreferrer">https://rknight.me/subscribe/posts/rss.xml</a></small></li>
    <li><a href="https://remysharp.com/" target="_blank" rel="noopener noreferrer">remy sharp's b:log</a><br><small>RSS: <a href="http://feeds.feedburner.com/remysharp" target="_blank" rel="noopener noreferrer">http://feeds.feedburner.com/remysharp</a></small></li>
    <li><a href="https://robert.bearblog.dev" target="_blank" rel="noopener noreferrer">Robert Birming</a><br><small>RSS: <a href="https://robert.bearblog.dev/feed/?type=rss" target="_blank" rel="noopener noreferrer">https://robert.bearblog.dev/feed/?type=rss</a></small></li>
    <li><a href="https://robinrendle.com/" target="_blank" rel="noopener noreferrer">Robin Rendle</a><br><small>RSS: <a href="https://robinrendle.com/feed.xml" target="_blank" rel="noopener noreferrer">https://robinrendle.com/feed.xml</a></small></li>
    <li><a href="https://robhope.com/" target="_blank" rel="noopener noreferrer">Rob Hope &#64;robhope</a><br><small>RSS: <a href="https://robhope.com/feed/" target="_blank" rel="noopener noreferrer">https://robhope.com/feed/</a></small></li>
    <li><a href="https://rubenerd.com/" target="_blank" rel="noopener noreferrer">Rubenerd</a><br><small>RSS: <a href="http://rubenerd.com/feed/" target="_blank" rel="noopener noreferrer">http://rubenerd.com/feed/</a></small></li>
    <li><a href="https://sarajoy.dev/" target="_blank" rel="noopener noreferrer">Sara Joy</a><br><small>RSS: <a href="https://sarajoy.dev/rss.xml" target="_blank" rel="noopener noreferrer">https://sarajoy.dev/rss.xml</a></small></li>
    <li><a href="https://scottsmitelli.com/" target="_blank" rel="noopener noreferrer">Scott Smitelli</a><br><small>RSS: <a href="https://scottsmitelli.com/index.xml" target="_blank" rel="noopener noreferrer">https://scottsmitelli.com/index.xml</a></small></li>
    <li><a href="https://sheep.horse/" target="_blank" rel="noopener noreferrer">Andrew's Blog</a><br><small>RSS: <a href="https://sheep.horse/rss.xml" target="_blank" rel="noopener noreferrer">https://sheep.horse/rss.xml</a></small></li>
    <li><a href="https://shashanksthoughts.blogspot.com/" target="_blank" rel="noopener noreferrer">Shashank's Thoughts</a><br><small>RSS: <a href="https://shashanksthoughts.blogspot.com/feeds/posts/default" target="_blank" rel="noopener noreferrer">https://shashanksthoughts.blogspot.com/feeds/posts/default</a></small></li>
    <li><a href="https://shilin.ca/" target="_blank" rel="noopener noreferrer">shilin typing...</a><br><small>RSS: <a href="https://shilin.ca/feed/" target="_blank" rel="noopener noreferrer">https://shilin.ca/feed/</a></small></li>
    <li><a href="https://simonsafar.com" target="_blank" rel="noopener noreferrer">Simon Safar</a><br><small>RSS: <a href="https://simonsafar.com/index.xml" target="_blank" rel="noopener noreferrer">https://simonsafar.com/index.xml</a></small></li>
    <li><a href="https://simpleprogrammer.com/" target="_blank" rel="noopener noreferrer">Simple Programmer</a><br><small>RSS: <a href="http://simpleprogrammer.com/feed/" target="_blank" rel="noopener noreferrer">http://simpleprogrammer.com/feed/</a></small></li>
    <li><a href="https://sliceofpi.com/" target="_blank" rel="noopener noreferrer">Slice of pi</a><br><small>RSS: <a href="https://sliceofpi.com/feed.xml" target="_blank" rel="noopener noreferrer">https://sliceofpi.com/feed.xml</a></small></li>
    <li><a href="https://smallcypress.bearblog.dev/" target="_blank" rel="noopener noreferrer">small cypress</a><br><small>RSS: <a href="https://smallcypress.bearblog.dev/feed/?type=rss" target="_blank" rel="noopener noreferrer">https://smallcypress.bearblog.dev/feed/?type=rss</a></small></li>
    <li><a href="https://steven-giesel.com/" target="_blank" rel="noopener noreferrer">Steven Giesel</a><br><small>RSS: <a href="https://steven-giesel.com/feed.rss" target="_blank" rel="noopener noreferrer">https://steven-giesel.com/feed.rss</a></small></li>
    <li><a href="https://terriblesoftware.org/" target="_blank" rel="noopener noreferrer">Terrible Software</a><br><small>RSS: <a href="https://terriblesoftware.org/feed/" target="_blank" rel="noopener noreferrer">https://terriblesoftware.org/feed/</a></small></li>
    <li><a href="https://thejollyteapot.com/" target="_blank" rel="noopener noreferrer">The Jolly Teapot</a><br><small>RSS: <a href="https://thejollyteapot.com/feed.rss" target="_blank" rel="noopener noreferrer">https://thejollyteapot.com/feed.rss</a></small></li>
    <li><a href="https://thoughtspile.github.io/" target="_blank" rel="noopener noreferrer">Vladimir Klepov as a Coder</a><br><small>RSS: <a href="https://thoughtspile.github.io/atom.xml" target="_blank" rel="noopener noreferrer">https://thoughtspile.github.io/atom.xml</a></small></li>
    <li><a href="https://timharek.no/" target="_blank" rel="noopener noreferrer">Tim Hårek</a><br><small>RSS: <a href="https://timharek.no/feed.xml" target="_blank" rel="noopener noreferrer">https://timharek.no/feed.xml</a></small></li>
    <li><a href="https://tomaskohl.com/" target="_blank" rel="noopener noreferrer">Tomáš Kohl</a><br><small>RSS: <a href="https://tomaskohl.com/code/atom.xml" target="_blank" rel="noopener noreferrer">https://tomaskohl.com/code/atom.xml</a></small></li>
    <li><a href="https://tomcritchlow.com/" target="_blank" rel="noopener noreferrer">tomcritchlow.com</a><br><small>RSS: <a href="https://tomcritchlow.com/feed.xml" target="_blank" rel="noopener noreferrer">https://tomcritchlow.com/feed.xml</a></small></li>
    <li><a href="https://tangiblelife.net" target="_blank" rel="noopener noreferrer">Tangible Life</a><br><small>RSS: <a href="https://tangiblelife.net/feed.rss" target="_blank" rel="noopener noreferrer">https://tangiblelife.net/feed.rss</a></small></li>
    <li><a href="https://tylercipriani.com/blog/" target="_blank" rel="noopener noreferrer">Tyler Cipriani: blog</a><br><small>RSS: <a href="https://tylercipriani.com/blog/index.rss" target="_blank" rel="noopener noreferrer">https://tylercipriani.com/blog/index.rss</a></small></li>
    <li><a href="https://upandright.com/" target="_blank" rel="noopener noreferrer">up & to the right</a><br><small>RSS: <a href="https://upandright.com/index.xml" target="_blank" rel="noopener noreferrer">https://upandright.com/index.xml</a></small></li>
    <li><a href="https://usefulfictions.substack.com/" target="_blank" rel="noopener noreferrer">Useful Fictions</a><br><small>RSS: <a href="https://usefulfictions.substack.com/feed" target="_blank" rel="noopener noreferrer">https://usefulfictions.substack.com/feed</a></small></li>
    <li><a href="https://vadimkravcenko.com/" target="_blank" rel="noopener noreferrer">Vadim Kravcenko</a><br><small>RSS: <a href="https://vadimkravcenko.com/feed/" target="_blank" rel="noopener noreferrer">https://vadimkravcenko.com/feed/</a></small></li>
    <li><a href="https://vladimirklepov.com/" target="_blank" rel="noopener noreferrer">Vladimir Klepov as a Coder</a><br><small>RSS: <a href="https://vladimirklepov.com/atom.xml" target="_blank" rel="noopener noreferrer">https://vladimirklepov.com/atom.xml</a></small></li>
    <li><a href="https://wanderingaimfully.com/articles/" target="_blank" rel="noopener noreferrer">Wandering Aimfully</a><br><small>RSS: <a href="https://wanderingaimfully.com/articles/feed/" target="_blank" rel="noopener noreferrer">https://wanderingaimfully.com/articles/feed/</a></small></li>
    <li><a href="https://westenberg.com/" target="_blank" rel="noopener noreferrer">Westenberg.</a><br><small>RSS: <a href="https://westenberg.com/rss/" target="_blank" rel="noopener noreferrer">https://westenberg.com/rss/</a></small></li>
    <li><a href="https://winnielim.org/" target="_blank" rel="noopener noreferrer">Winnie Lim</a><br><small>RSS: <a href="http://journal.winnielim.org/rss.xml" target="_blank" rel="noopener noreferrer">http://journal.winnielim.org/rss.xml</a></small></li>
    <li><a href="https://writings.henriquedias.com/" target="_blank" rel="noopener noreferrer">Writings - Henrique Dias</a><br><small>RSS: <a href="https://writings.henriquedias.com/feed.xml" target="_blank" rel="noopener noreferrer">https://writings.henriquedias.com/feed.xml</a></small></li>
    <li><a href="https://zerokspot.com/" target="_blank" rel="noopener noreferrer">zerokspot.com</a><br><small>RSS: <a href="http://zerokspot.com/weblog/feed/" target="_blank" rel="noopener noreferrer">http://zerokspot.com/weblog/feed/</a></small></li>
</ul>

<style>
.feeds-list {
    list-style: none;
    padding: 0;
}
.feeds-list li {
    margin-bottom: 1.5em;
    padding: 1em;
    border: 1px solid #eee;
    border-radius: 8px;
    background: #fafafa;
}
.feeds-list a {
    font-weight: bold;
    color: #2a5db0;
    text-decoration: none;
}
.feeds-list a:hover {
    text-decoration: underline;
}
</style>
