@{
    ViewData["Title"] = "About Me | Clint McMahon";
}

<section class="about py-5">
  <div class="container" style="max-width:800px">
    <h2 class="text-center mb-4">About Me</h2>
    <div class="row g-4">
    <div class="col">
        <p>Hello, my name is Clint. I'm a freelance software developer and tech consultant. Currently, I'm building web apps for legal and healthcare research
            organizations. I live in Minneapolis with my wife, kiddo and our pooch. </p>

        <p>I also like to brew coffee, snowboard, listen to music and hang out with my family and my dog. </p>

    </div>
</div>
</section>