@{
    ViewData["Title"] = "About Me | Healthcare Research Software Consultant";
}

<section class="about py-5">
  <div class="container" style="max-width:800px">
    <h2 class="text-center mb-4">About Me</h2>
    <div class="row g-4">
    <div class="col">
        <p>I’m Clint, a technology consultant based in Minneapolis, where I help clients in healthcare, 
            legal, and government sectors tackle complex challenges. My work spans custom web applications, 
            data visualization tools and mobile apps that simplify and enhance how people interact with technology. 
            Alongside client projects, I like building side projects that help people find better coffee. </p>

        <p>I also like to brew coffee, snowboard, listen to music and hang out with my family and my dog. </p>

    </div>
</div>
</section>