@model Post

<a class="post-row" href="@Url.Action("Details", "Blog", new { slug = Model.Slug })">
    <span class="post-date">@Model.Date.ToString("MMM dd")</span>
    <span class="post-arrow">&rarr;</span>
    <span class="post-title">@Model.Title</span>
</a>
