@{
    ViewData["Title"] = "Now - Clint McMahon";
}

@model IEnumerable<Post>

<div class="now page">
    <h1 class="mb-5 main-heading">Now</h1>
    <p>
        This out my <a href="https://nownownow.com/about" target="_blank">Now page</a>, inspired by <a
            href="https://sive.rs/now">Derek Sivers</a>, where I share what I’m focused on at this point in life.
    </p>
    <ul>
        <li>
            <p>Building MPLS Coffee – I’m working on a coffee shop locator app for Minneapolis and St. Paul, designed
                for people who love a well-crafted cup of coffee. It’s called <a
                    href="https://mplscoffee.com">mplscoffee.com</a>, and it’s all about highlighting spots that offer
                great roasts, quality pour-overs, and places worth visiting for their craft.</p>
        </li>
        <li>
            <p>Reading About Strangers – Since the pandemic and a lot of time spent working from home, I've been
                reflecting on connection. I’m reading books focused on strangers and human connection, looking for ways
                to better connect with people who aren’t like me. Working from CoCo has helped, but I’m interested in
                more conversations that push my perspective.</p>
        </li>
        <li>
            <p>Wrapping Up a Project for the State – I'm putting the final touches on a significant project with the
                State of Minnesota. It’s close to going live, and I’m excited to see it out in the world soon.</p>
        </li>
        <li>
            <p>Meditating Daily – I’m making it a priority to meditate for 10 minutes each day. The goal is to be more
                mindful and reduce distraction, helping me be more present with people and projects.</p>
        </li>
        <li>
            <p>Helping Theo Adjust – My son Theo just started a new school. We’re working together to help him feel
                comfortable, make new friends, and settle into the new schedule. Watching him step out of his comfort
                zone has been a reminder of the value of persistence.</p>
        </li>
        <li>
            <p>Going to Tech Meetups – I’m attending more meetups around the Twin Cities, connecting with the
                local tech community. It’s been a good way to meet others and stay involved in
                what’s going on.</p>
        </li>
        <li>
            <p>Updating My Personal Site – I'm in the process of updating this site, transitioning from Ghost to
                .NET 8 MVC for more flexibility and customization.</p>
        </li>
    </ul>

</div>
