@{
    ViewData["Title"] = "This is my Now page | Clint McMahon";
}

@model IEnumerable<Post>

<section class="contact py-5">
  <div class="container" style="max-width:800px">
         <h1 class="display-4 fw-bold text-center mb-2">Now</h1>
        <p class="text-center text-muted mb-4">@Website.Services.NowStatus.Blurb</p>
        <div class="row g-4">
            <div class="col">
            <p class="text-center">
                This is my <a href="https://nownownow.com/about" target="_blank">Now page</a>, inspired by <a
                href="https://sive.rs/now">Derek Sivers</a>.
            </p>
            <p class="text-center text-muted small mb-4">Last updated: May 2026</p>
            <div class="fw-bold mb-4">
                🌸 May 2026 🪻
            </div>
            <p>
                Lately I've been diving into utilizing AI in my personal and work lives. I've been using it for coffee, developing apps, architecting software and generally asking questions about the world. So far, I really like having AI around but also know and maybe fear what it could become.
            </p>
            <p>
                Here's what I've been up to this spring:
            </p>
                <ul>
                    <li>
                        I used Claude to <a href="https://clintmcmahon.com/Blog/merge-coffee-apps" target="_blank">merge the code bases of MN Coffee, NYC Coffee and Chicago Coffee</a> into the same React native app. This is a big time savings update for the coffee apps. However, I'm losing interest in keeping all three of the apps alive. It's not just maintaining the mobile app but the API and data. Then I have to keep the database up to date for each of the three different apps. Since I don't get to Chicago or NYC as much as I want there is little incentive for me to keep those up to date. 
                    </li>
                    <li>
                        Every week I brew a new batch of coffee with my Chemex. The coffee come from Heart or Sey run pretty light and from Africa. These coffees have always been really hard for me to brew. I used to spend so much time on coffee subreddits trying to figure out how to grind and pour. I started taking pictures of the bags of coffee and asking Claude to tell me what grind setting, water temp and pour style I should be using to brew these coffees. I think I've cracked the code. I give Claude my parameters like what type of grinder and kettle I'm working with, then take a picture of the bag and ask it to tell me how to brew the coffee with my Chemex. 90% of the time it's right on the first time. If the coffee tastes bitter or sour, I'll ask some questions and have Claude come up with a new path forward.
                    </li>
                    <li>
                        Started a photo blog at <a href="https://photos.clintmcmahon.com" target="_blank">photos.clintmcmahon.com</a>. I'm nostalgic for the old photoblogs from the 2000s. I still use <a href="https://instagram.com/cwmcmhn">Instagram</a> but I love having my own photo blog that displays my images in a larger format than what's available on Instagram. Since starting this new photoblog I've found other folks around the world who are also doing this. I'm excited about where this little project goes.
                    </li>
                    <li>
                        For the time being I have settled on <a href="https://onyxcoffeelab.com/products/monarch?variant=31861823176802" target="_blank">Onyx's Monarch</a> espresso blend for our house espresso. Somehow it pulls super fast and still tastes really good. I got tired of trying to find the BEST espresso for our house and finally decided to go with Onyx. They're great and their brew guides on their website are some of the best guides from roasters that are out there.
                    </li>
                    <li>
                        We spent <a href="https://www.instagram.com/cwmcmhn/p/DXCP_QeDu4y/">spring</a> <a href="https://www.instagram.com/cwmcmhn/p/DW6uQQ-jsqu/">break</a> in <a href="https://www.instagram.com/cwmcmhn/p/DWzyb_bjCyy/">Belize</a> this <a href="https://www.instagram.com/cwmcmhn/p/DWukkcvjlqr/">year</a>. Definitely didn't spend enough time in other parts of the country. We stayed in San Pedro and had a great time driving golf carts around, snorkeling, visiting islands and getting food poisoning.  
                </ul>
        </div>
  </div>
</section>

