@{
  ViewData["Title"] = "Portfolio | Clint McMahon";
}
<section class="portfolio py-5">
  <div class="container">
    <h2 class="text-center mb-4">Portfolio</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      
      <!-- SRTR Patient-Friendly Website -->
      <div class="col">
        <div class="card h-100 shadow-sm d-flex flex-column">
          <a href="https://preview.srtr.org/" target="_blank" rel="noopener noreferrer">
            <img src="/images/pfwebsite.png" class="card-img-top" alt="SRTR Patient-Friendly Website">
          </a>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">SRTR Patient-Friendly Website</h5>
            <p class="card-text">
              Developed a platform with SRTR featuring tools like a transplant journey map and videos to enhance patient engagement. The design introduces a more intuitive UI and prepares for future enhancements.
            </p>
            <small class="text-uppercase">Tech Stack</small>
            <div class="fw-bold mb-5">
              C#, .Net, Umbraco, SQL Server, JavaScript, jQuery
              </div>

            <a href="https://preview.srtr.org/" class="btn btn-primary mt-auto" target="_blank" rel="noopener noreferrer">View Project</a>
          </div>
        </div>
      </div>

      <!-- SRTR Interactive Reports -->
      <div class="col">
        <div class="card h-100 shadow-sm d-flex flex-column">
          <a href="https://www.srtr.org/transplant-centers/interactive-report?center=NYUC&type=TX1&organ=ki" target="_blank" rel="noopener noreferrer">
            <img src="/images/transplantcentersearch.png" class="card-img-top" alt="SRTR Interactive Reports">
          </a>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">SRTR Interactive Reports</h5>
            <p class="card-text">
              Built a site with interactive charts displaying transplant program data, leveraging R datasets and High Charts to improve load times and user experience.
            </p>
           <small class="text-uppercase">Tech Stack</small>
            <div class="fw-bold mb-5">
              C#, .Net, React, HighCharts, SQL Server, JavaScript, Mapbox
              </div>
            <a href="https://www.srtr.org/transplant-centers/interactive-report?center=NYUC&type=TX1&organ=ki" class="btn btn-primary mt-auto" target="_blank" rel="noopener noreferrer">View Project</a>
          </div>
        </div>
      </div>

      <!-- Organ Procurement Report -->
      <div class="col">
        <div class="card h-100 shadow-sm d-flex flex-column">
          <a href="https://www.srtr.org/reports/opo-specific-reports/interactive-report" target="_blank" rel="noopener noreferrer">
            <img src="/images/oporeports.png" class="card-img-top" alt="Organ Procurement Report">
          </a>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Organ Procurement Report</h5>
            <p class="card-text">
              Collaborated with SRTR to create interactive OPO performance reports, transforming complex data into accessible insights to drive transparency in organ donation practices.
            </p>
           <small class="text-uppercase">Tech Stack</small>
            <div class="fw-bold mb-5">
              C#, .Net, HighCharts, SQL Server, JavaScript, Mapbox
              </div>
            <a href="https://www.srtr.org/reports/opo-specific-reports/interactive-report" class="btn btn-primary mt-auto" target="_blank" rel="noopener noreferrer">View Project</a>
          </div>
        </div>
      </div>

      <!-- Minnesota Secretary of State: Umbraco Upgrade -->
      <div class="col">
        <div class="card h-100 shadow-sm d-flex flex-column">
          <a href="https://www.sos.state.mn.us" target="_blank" rel="noopener noreferrer">
            <img src="/images/oss_home.png" class="card-img-top" alt="Minnesota Secretary of State: Umbraco Upgrade">
          </a>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Minnesota Secretary of State: Umbraco Upgrade</h5>
            <p class="card-text">
              Led a migration from Umbraco 7 to 14 and .NET Framework to .NET Core, modernizing the platform for scalability, security, and improved user experience.
            </p>
            <small class="text-uppercase">Tech Stack</small>
            <div class="fw-bold mb-5">
              C#, .Net, Umbraco, SQL Server, JavaScript, jQuery, CI/CD
              </div>
            <a href="https://www.sos.state.mn.us" class="btn btn-primary mt-auto" target="_blank" rel="noopener noreferrer">View Project</a>
          </div>
        </div>
      </div>
      <!-- Artful Living: Magazine -->
      <div class="col">
        <div class="card h-100 shadow-sm d-flex flex-column">
          <a href="https://artfulliving.com" target="_blank" rel="noopener noreferrer">
            <img src="/images/artfulliving.png" class="card-img-top" alt="Artful Living: Website management">
          </a>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Artful Living: Website Management & Custom Development</h5>
            <p class="card-text">
              Provide management and custom development for Artful Living's website, ensuring a seamless and visually compelling digital experience. Work includes implementing tailored features, performance, and maintaining a high-end online presence that aligns with the brand's aesthetic and editorial standards.            
            </p>
            <small class="text-uppercase">Tech Stack</small>
            <div class="fw-bold mb-5">
              WordPress, MySQL, WP Engine, Javascript, jQuery
              </div>
            <a href="https://artfulliving.com" class="btn btn-primary mt-auto" target="_blank" rel="noopener noreferrer">View Project</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

